<!DOCTYPE html>
<html>

<head>
  <link href="../styles/reset.css" rel="stylesheet">
  <link href="../styles/layout.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
  <title>Form for Book Searching...</title>
</head>
<header>
  <h1>Best Books!</h1>
  <img src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" />
</header>

<body>
  <main>
    <h2>Search By Title or Author:</h2>
    <form action="/searches" method="post">
      <input id="titlefield" type="text" name="search" placeholder="enter author or title" required>
      <fieldset id="title">
        <label for="title">Title:</label>
        <input id="titles-radio" type="radio" name="search" value="title" required>
      </fieldset>
      <fieldset id="author">
        <label for="author">Author:</label>
        <input id="authors-radio" type="radio" name="search" value="author" required>
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>
    <footer>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </footer>
  </main>
</body>

</html>