<!DOCTYPE html>
<html>

<head>
  <title>Results</title>
</head>

<body>
  <main>
    <ul>
      <% book.forEach(function(books){ %>
        <section class="book">
          <li><%=book.title%></li>
          <li><%=book.author%></li>
        </section>
      })
    </ul>
    <!-- <%= searchResults %> -->
  </main>
</body>
</html>