<!DOCTYPE html>
<html>
  <head>
    <title>Books Search</title>
    <link href="../../styles/base.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <h1>Hello World!</h1>
    </main>
  </body>
</html>